html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body{
    font-family: 'Montserrat';

}

html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: border-box;
}

/*Header styles start*/

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;

}

.header{
    background: #000;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 25px;
   
}


.header__info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
   
}

.header__info-mob-link{
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 18px;
    margin-left: 0px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.header__info-mob{
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 18px;
    margin-left: 66px;
    font-weight: 700;
    color: #fff;
}

.nav__registration{
    display: flex;
    flex-wrap: wrap;
}

.nav__registration-item{
    margin-right: 20px;
}

.nav__registration-item:last-child{
    margin-right: 0;
}

.nav__registration-item-link{
    font-family: 'Circular Std';
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

}

/*.nav__registration::after{
    content: '';
    width: 2px;
    height: 13px;
    background: #fff;
    position: absolute;
    right: 245px;
    top: 18px;
    
} */

.header__second-logo{
    margin-left: 25px;
}


.search__form{
    display: flex;
    flex-wrap: wrap;
}



.header__second__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 31px;
}

.search__form-info{
    width: 475px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #C3C3C3;
    font-size: 19px;
    border-radius: 5px;
    padding: 0 55px 0 25px;
    background: url('../img/oval.svg') no-repeat right;
    background-size: 21px;
}

.header__bottom{
    max-width: 1420px;
    height: 67px;
    background: #FDCA38;
    position: relative;
}

.menu__list{
    display: flex;
    flex-wrap: wrap;
    margin-right: 62px;
}


.menu__item{
    margin-right: 30px;
    padding-top: 22px;
}
 
.menu__item:last-child{
    margin-right:0;
}

.menu__item-link{
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 1s all;
    margin-left: 33px;
}

.menu__item-link:hover, .menu__item-link:focus, .menu__item-link:active{
    color:#000;

}

/*Header styles end*/

/*Banner styles start*/



.header__bannerBox{
    padding-top: 187px;
    margin-bottom: 60px;
    background: #F1F1F1;
}

.header__banner{
    min-height: 334px;
    background: url('../img/banner-bg.jpg') top center no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 17px solid #FDCA38;
    

}

.header__title{
    font-family: 'Circular Std';
    font-size: 45px;
    line-height: 58px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 139px 55px;
}

.banner__reg{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    background:#000;
    padding: 15px;
}

.banner__reg-list{
    margin-right: 29px;
}

.banner__reg-list:last-child{
    margin-right: 0;
}


.banner__reg-link{
    font-family: 'Circular Std';
    font-size: 25px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
   
}



.banner__reg-link:hover, .banner__reg-link:focus .banner__reg-link:active{
    color:#FDCA38;
}

/*Banner styles end*/

/*category styles start*/

.wrapper__full{
    max-width: 1440px;
    margin:0 auto;
}

.category__title{
    font-family: 'Circular Std';
    font-size: 30px;
    line-height: 38px;
    color: #000;
    font-weight: 900;
    margin-bottom: 60px;
    margin-left: 15px;
}

.category__card-decription{
    font-family: 'Circular Std';
    font-size: 23px;
    line-height: 29px;
}



.category__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 87px;
} 

.category__card{
    width: 95%;
    margin-left: 10px;
    margin-right: 30px;
    box-shadow: 0px 4px 10px rgba(18, 18, 18, 0.05273);
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 30px 60px;
    text-align: center;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s, -moz-box-shadow 0.5s;
}

.category__card:hover, .category__card:focus .category__card:active {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.18);
}


.category__card-pic{
    margin-bottom: 20px;
}


/*pages styles start*/

.pagination{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
  /*  background: url(../img/arrow-left.svg) no-repeat left; */
    margin-left: 620px;
    margin-bottom: 88px;
}

.pages__item{

    margin-right: 50px;
    font-family: 'Circular Std';
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
}


.arrow{
    margin-left: 40px;
    margin-bottom: 5px;
    border: 1px solid #E9E9E9;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}



.arrow1{
    margin-right: 40px;
    border: 1px solid #E9E9E9;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.pages__item-link{
    color: #000;
    text-decoration: none;
    font-family: 'Circular Std';
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
}

.pages__item-link:hover, .pages__item-link:focus, .pages__item-link:active{
    color:#FDCA38;
}

.arrow:hover, .arrow1:hover{
    background: #FFEB52;
}

/*page styles end*/

/*footer yellow section styles start */

.container__fluid{
   
    
}

.footer__wrap{
    max-width: 1440px;
    margin: 0 auto;
    background:#FDCA38;
    height: 157px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    z-index:9;
    
}

.textBox{
    padding: 41px 55px;
}

.footer__title{
    font-family: 'Circular Std';
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    width: 403px;
}

.footer__description{
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
}

.footer__form{
    position: relative;
}

.mail__address {
    position: absolute;
    left: 480px;
    right: 36px;
    bottom: 42px;
    margin-left: 247px;

}

.mail__address-title {
    font-family: 'Circular Std';
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    margin-right: 12px;
}

input.email{
    width: 290px;
    height: 42px;
    background: rgba(0, 0, 0, 0.07);
    border: 0.5px solid rgba(0, 0, 0, 0.101235);
    padding: 0 15px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.email::placeholder{
    color:#fff;
    opacity:0.6;
}

.label__checkbox{
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
}

.checkbox{
    margin-left: 165px;
}

.button{
    position: absolute;
    top: 0;
    margin-left: 40px;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
}

/*footer yellow section styles END */

/*footer next section styles start */

.wrapp__strech{
    max-width: 1440px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    position: relative;

    
}

.footer__middle{
    background: #000;
    padding-top: 105px;
    height: 615px;
    position: absolute;
    width: 100%;
    margin-top: -74px;

}

.footer__middle:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/footer-overlay.png') no-repeat;
    background-size: cover;
    z-index: 1;
}


.footer__logo{
    margin-left:55px;
}

.logo__subtitle{
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -20px;
    color:#fff;
}

.logo__description{
    max-width: 400px;
    position: absolute;
    top: 135px;
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 32px;
    color: #fff;
}

.footer__nav{
    display:flex;
    flex-wrap: wrap;
    margin-left: 420px;
}

.footer__menu{
    max-width:197px;
    margin-right: 110px;
}



.footer__menu-title{
    font-family: 'Circular Std';
    font-size: 25px;
    line-height: 32px;
    font-weight: 700;
    color:#FFEB52;
    margin-bottom: 41px;
}

.footer__menu-item{
    margin-bottom: 15px;
}

.footer__menu-link{
   font-family: 'Circular Std';
   font-size: 18px;
   line-height: 23px;
   color:#fff;
   text-decoration: none;
}

.footer__menu-link:hover{
    color: #FFEB52;
}

.footer__copyright-wrap{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 71px;
    height: 83px;
    padding: 29px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.0960719);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.100907);

}

.footer__copyright-title{
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.footer__copyright-link{
    font-family: 'Circular Std';
    font-size: 18px;
    line-height: 26px;
    color:#fff;
    text-decoration: none;
}
